---
layout: default
title: Archive
permalink: /archive.html
---
<div class="post-content">
{% for post in site.posts %}
    {% capture cmonth %}{{ post.date | date: "%B" }}{% endcapture %}
    {% unless lmonth == cmonth %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h3>{{ cmonth }} {{ post.date | date: "%Y" }}</h3>
        <ul class="no-bullets">
        {% assign lmonth = cmonth %}
    {% endunless %}
    {% if post.layout == 'link' %}
            <li><span>{{ post.date | date: "%d" }}</span> <a href="{{ post.link_url }}">{{ post.title }}</a> <a href="{{ post.url }}" class="arch_permalink">&#8734;</a></li>
    {% else %}
            <li><span>{{ post.date | date: "%d" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
        </ul>
</div>
