/*
For a quick and dirty color picker
http://csscolorpicker.com/

For documentation on the awesome LESS css templating engine
lesscss.org
*/

// Variables
@headerLength: 60px;
@rightSideBarLength: 230px;
@leftSideBarLength: 230px; 
@headerSpacePadding: 3em;
@fontPlainContent: 'Lato', sans-serif;
@contentLeftRightMargin: 160px;

// Mixins
.anchor-override-style (@color: white) {
	a:link {
		color: @color;
	}
	a:visited {
		color: @color;
	}
	a:hover {
		color: @color;
	}
	a:active {
		color: @color;
	}
	a {
		text-decoration: none;
	}
}
.border-content-style (@border-color: #DDD, @background-color: white) {
	border: 1px solid @border-color;
	background-color: @background-color;
	padding: 20px;
}

// CSS
body {
	margin: 20px 0 0 0;
	padding: @headerLength @rightSideBarLength 0 @leftSideBarLength;
	font-family: @fontPlainContent;
	background-color: #F9F9F9;
}

div#content {
	font-size: 160%;
}

div#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @headerLength;
	background: #f69609;
	color: #ffffff;
	font-family: @fontPlainContent;
	font-size: 80%;
	.anchor-override-style();
}

div.post-content {
	font-size: 75%;
	line-height: 1.7;
	.border-content-style();
	margin-bottom: 35px;
}

div.gcp {
	font-family: Consolas; 
	font-size: 10pt;

	/* Google Prettify: enable scrolling */
	pre.prettyprint {
		display: block;
		overflow: auto;
		width: auto;
		/* max-height: 600px; */
		white-space: pre;
		word-wrap: normal;
		padding: 10px;
	}
}

table.article-table {
	table-layout: fixed;
	margin-top: 20px;
	margin-bottom: 50px;
	.border-content-style();
	td {
		width: 950px;
		overflow: hidden;
	}
	td.article-title {
		height: 50px;
		background: #ff9f00;
		color: #ffffff;
		.anchor-override-style();
	}
	td.article-description {
		height: 100px;
		font-size: 75%;
		.anchor-override-style(black);
	}
	td.article-tags {
		height: 70px;
		float: left;
		div.article-catagories {
			margin-top: 40px;
			float: right;
			color: #828282;
			font-size: 80%;
		}
	}
}

td.header-space {
	padding-left: @headerSpacePadding;
	padding-right: @headerSpacePadding;
}

ul.no-bullets {
	list-style-type: none;
}

* html body {
	overflow: hidden;
}

* html div#content {
	height: 100%;
	overflow: auto;
}

// Media Queries
// Desktop
@media all and (min-width: 1400px) {
	div#content {
		font-size: 160%;
		width: 75%;
		margin: 0 @contentLeftRightMargin 0 @contentLeftRightMargin;
	}
}

// Laptop and Tablet
@media all and (min-width: 481px) and (max-width: 1399px) {
	table.article-table td {
		width: 560px;
	}
	td.header-space {
		padding-left: 2em;
		padding-right: 2em;
	}
}

// Mobile
@media all and (max-width: 480px) {
	body {
		padding: @headerLength 0px 0px 0px;
	}
	table.article-table td {
		width: 320px;
	}
	td.header-space {
		padding-left: 1em;
		padding-right: 1em;
	}
	div.post-content {
		font-size: 100%;
	}
	div#right-sidebar {
		width: 0;
	}
	div#left-sidebar {
		width: 0;
	}
}
