<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{{ page.title }} | Taywils.me</title>

		<!-- CSS libraries -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" type="text/css"/> 
		<link rel="stylesheet" href="/static/css/gcp/sons-of-obsidian.css" type="text/css"/> 
		<link rel="stylesheet" href="/static/css/slides.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

		<!-- My CSS -->
		<link rel="stylesheet/less" href="/static/css/style.less" type="text/css"/>

		<!-- Javscript Libraries -->
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js"> </script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"> </script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"> </script>
		<script type="text/javascript" src="/static/javascript/slides.min.jquery.js"> </script>

		<!-- My Javascript -->
		<script type="text/javascript" src="/static/javascript/page.js"></script>
		<script type="text/javascript" src="/static/javascript/projects.js"></script>
	</head>
	<body onload="prettyPrint();">
		<div id="header" align="center">
			<table>
				<tr>
					<td class="header-space">
						<h2>
							<a class="page-fade" href="/index.html">Blog</a>
						</h2>
					</td>
					<td class="header-space">
						<h2>
							<a class="page-fade" href="/archive.html">Archive</a>
						</h2>
					</td>
					<td class="header-space">
						<h2>
							<a class="page-fade" href="/projects.html">Projects</a>
						</h2>
					</td>
					<td class="header-space">
						<h2>
							<a class="page-fade" href="/about.html">About</a>
						</h2>
					</td>
					<td class="header-space">
						<h2>
							<a class="page-fade" href="/feed.xml">RSS</a>
						</h2>
					</td>
				</tr>
			</table>
		</div>

		<div id="left-sidebar">
		</div>

		<div id="right-sidebar">
		</div>

		<div id="content">
			{{ content }}
		</div>

		<div id="footer">
			<p>
			<div class="copyright" align="center">
				Copyright &copy; 2013 Demetrious Taylor Wilson.  All rights reserved.
			</div>
			</p>
		</div>


		<!-- Google Analytics -->
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36570024-1']);
			_gaq.push(['_setDomainName', 'taywils.me']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();

		</script>
	</body>
</html>
